@charset "UTF-8";

/*  Font Overpass */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    /* Primary */
    --Orange: #fa7312;

    /* Neutral */
    --LightGrey: #959eac;
    --MediumGrey: #7c8798;
    --DarkBlue: #252d37;
    --VeryDarkBlue: #121417;
    
    /* Fonts */
    --font: 'Overpass', sans-serif;
}

html {
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: var(--font);
    min-height: 96vh;
    background-color: var(--VeryDarkBlue);
    display: flex;
}

main {
    max-width: 400px;
    min-width: 315px;
    min-height: 320px;
    margin: auto;
    color: #ffffff;
    background-color: var(--DarkBlue);
    padding: 20px;
    border-radius: 20px;
}
img#star {
    background-color: var(--DarkBlue);
    filter: brightness(130%);
    padding: 15px;
    border-radius: 50%;
}

h1 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
}

p {
    color: var(--LightGrey);
    font-size: 0.9em;
    
}

form {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 15px 0;
}

form input {
    display: none;
}

label {
    color: var(--MediumGrey);
    background-color: var(--DarkBlue);
    filter: brightness(130%);
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

label:hover {
    background-color: var(--MediumGrey);
    color: white;
    cursor: pointer;
}

label:active {
    background-color: var(--Orange);
}

form input:checked + label {
    background-color: var(--Orange);
    color: white;
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 15px 0;
    border-radius: 20px;
    border: none;
    background-color: var(--Orange);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
}

input:hover {
    background-color: white;
    color: var(--Orange);
    cursor: pointer;
}

p#feedback {
    color: var(--Orange);
    background-color: var(--DarkBlue);
    filter: brightness(130%);
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    border-radius: 20px;
}