@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to bottom, #af67e9, #6565e7);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 800px;
    min-height: 68vh;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
}

div#text {
    width: 50%;
    font-size: 0.9em;
    padding: 60px 30px 0 0;
}

h1 {
    margin-bottom: 30px;
    font-size: 2em;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
    color: #f47c57;
}

p {
    display: none;
    color: #787887;
    margin: 10px 0;
}

div#img {
    width: 50%;
    background: url('images/illustration-woman-online-desktop.svg'), url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: calc(-150%) center;
}

img#box {
    width: 50%;
    position: relative;
    top: 20%;
    left: 0%;
    transform: translate(-65%, 30%);
}

img#woman {
    display: none;
}

hr {
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px solid #e7e7e9;
    margin: 15px 0;
}

.clicou {
    font-weight: bold;
}

.clicou + p {
    display: block;
}


.clicou > img {
    transform: rotate(180deg);
    
}

@media screen and (max-width: 612px){

    main {
        flex-direction: column;
        width: 300px;
        min-height: 10vh;
        margin-top: 20%;
    }
    
    div#text {
        width: 100%;
        padding: 0 20px;
        padding-bottom: 30px;
        font-size: 0.8em;
        margin-top: -20%;
    }

    h1 {
        text-align: center;
    }

    div#img {
        background: url('images/bg-pattern-mobile.svg') no-repeat center calc(10%);
        width: 100%;
        
    }

    img#box {
        display: none;
    }

    img#woman {
        display: inline;
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
